@import "tailwindcss";

html,
body,
#root {
	width: 100%;
	/* height: 100%; */
}

@theme {
	--color-pony-orange: #ff8c42;
	--color-pony-orange-dark: #e67e22;
	--color-pony-beige: #f5deb3;
	--color-pony-beige-light: #e6d5b8;
	--color-pony-brown: #8b4513;
	--color-pony-brown-light: #a0522d;
	--color-pony-brown-dark: #654321;

	/* Дополнительные цвета */
	--color-pony-yellow: #ffe4b5;
	--color-pony-pink: #ff69b4;
}
